{% extends 'menu/menu.html' %}
{% load static %}
{% block content %}
    
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'transaksi' %}"> &#x2190;Kembali Belanja </a>

                <br>
                <br>

                <table class="table">
                    <tr>
                        <th><h5> Item    : <strong> </strong> {{order.get_cart_items}}  </h5></th>
                        <th><h5> Total   : <strong> {{order.get_cart_total|floatformat:0}} </strong></h5></th>
                        <th>
                            <a style="float: right; margin: 5px;" class="btn btn-success" href="{% url 'pembayaran' %}"> Pembayaran </a>
                        </th>
                    </tr>
                </table>
            </div>

            <br>

            <div class="box-element">
                
                <div class="cart-row">
                    <div style="flex: 2;"></div>
                    <div style="flex: 2;"> Item </div>
                    <div style="flex: 1;"> Harga </div>
                    <div style="flex: 1;"> Jumlah </div>
                    <div style="flex: 1;"><strong> Total </strong></div>
                </div>

                {% for item in items %}
                <div class="cart-row">
                    <div style="flex: 2;"><img class="row-image" src="{{item.product.imageURL}}"></div>
                    <div style="flex: 2;"> {{item.product.name}} </div>
                    <div style="flex: 1;"> $ {{item.product.price|floatformat:0}} </div>
                    <div style="flex: 1;">
                        <p class="quantity"> {{item.quantity}} </p>
                        <div class="quantity">
                            <img data-product={{item.product.id}} data-action="add" class="chg-quantity update-cart" src="{% static 'images/arrow-up.png' %}">
                            <img data-product={{item.product.id}} data-action="remove" class="chg-quantity update-cart" src="{% static 'images/arrow-down.png' %}">
                        </div>
                    </div>
                    <div style="flex: 1;"><strong> {{item.get_total|floatformat:0}} </strong></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}