{% extends 'menu/menu.html' %}
{% load static %}
{% block content %}
    
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'keranjang' %}"> &#x2190;Kembali ke Keranjang </a>
                <hr>
                <h3> Total Pesanan </h3>
                <hr>
                {%  for item in items %}
                <div class="cart-row">

                    <div style="flex: 2;"><img class="row-image" src="{{item.product.imageURL}}" ></div>
                    <div style="flex: 2;"><p> {{item.product.name}} </p></div>
                    <div style="flex: 2;"><p> Rp. {{item.product.price}} </p></div>
                    <div style="flex: 2;"><p> x {{item.quantity}} </p></div>

                </div>
                {% endfor %}

                <h5> Item   : {{order.get_cart_items}} </h5>
                <h5> Total  : Rp {{order.get_cart_total|floatformat:0}} </h5>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="selesai">
            </div>
        </div>
    </div>

{% endblock content %}