{% extends 'menu/menu.html' %}
{% load static %}
{% block content %}
    
    <div class="row">
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
            <div class="box-element product">
                <h4 style="display: inline-block; float: right">Rp 100.000,00</h4>
                <h6><strong>Produk</strong></h6>
                <hr>
                <button class="btn btn-success add-btn">Tambah ke keranjang</button>
                <a class="btn btn-outline-success" href="#">Lihat</a>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
            <div class="box-element product">
                <h4 style="display: inline-block; float: right">Rp 100.000,00</h4>
                <h6><strong>Produk</strong></h6>
                <hr>
                <button class="btn btn-success add-btn">Tambah ke keranjang</button>
                <a class="btn btn-outline-success" href="#">Lihat</a>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
            <div class="box-element product">
                <h4 style="display: inline-block; float: right">Rp 100.000,00</h4>
                <h6><strong>Produk</strong></h6>
                <hr>
                <button class="btn btn-success add-btn">Tambah ke keranjang</button>
                <a class="btn btn-outline-success" href="#">Lihat</a>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
            <div class="box-element product">
                <h4 style="display: inline-block; float: right;">Rp 100.000,00</h4>
                <h6><strong>Produk</strong></h6>
                <hr>
                <button class="btn btn-success add-btn">Tambah ke keranjang</button>
                <a class="btn btn-outline-success" href="#">Lihat</a>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
            <div class="box-element product">
                <h4 style="display: inline-block; float: right">Rp 100.000,00</h4>
                <h6><strong>Produk</strong></h6>
                <hr>
                <button class="btn btn-success add-btn">Tambah ke keranjang</button>
                <a class="btn btn-outline-success" href="#">Lihat</a>
            </div>
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
            <div class="box-element product">
                <h4 style="display: inline-block; float: right">Rp 100.000,00</h4>
                <h6><strong>Produk</strong></h6>
                <hr>
                <button class="btn btn-success add-btn">Tambah ke keranjang</button>
                <a class="btn btn-outline-success" href="#">Lihat</a>
            </div>
        </div>
    </div>
{% endblock content %}